<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
</head>
<body>
        <h1>Guitar Pedal Chain</h1>
        <a href="/pedals/new"><button>New Page</button></a>
        <div class= "pedalBoard">
            
                <% pedals.forEach((pedal, id) => { %>
                    <div class='container'>
                    <h2> <a href="/pedals/<%=pedal._id%>"> <%= pedal.Name %> </a>  </h2>
                    <h2> <%= pedal.Price %> </h2> 
                    <h2>  <%= pedal.Analog %> </h2>
                    <a href="/pedals/<%=id%>"> <%= pedals.Name %></a>
                    <form action="/pedals/<%=pedal._id %>?_method=DELETE" method="POST">
                      <input type="submit" value="Delete Pedal"/>
                    </form>
                </div>
                <% }) %>
        </div>
</body>
</html>


